{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Django App with Tailwind</title>
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}" />
    <script defer src="{% static 'js/main.js.umd.js' %}"></script>   
  </head>

  <body class="h-screen">
    <section class="container mx-auto flex flex-col items-center">
      {% csrf_token %}
      {% block content %} {% endblock %}
    </section>
  </body>
</html>
